<table class="table table-bordered table-hover container" id='table_style'>
                <thead>
                <th>
                    <h4 class="text-center">ID</h4>
                        <input class="col-xs-8" type="text" placeholder="Search ID" ng-model="search.Id" >
                        <button class="button btn-xs btn-success" ng-click="orderByField='Id';reverse=!reverse ">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </button>
                </th>
                <th>
                    <h4 class="text-center">NAME</h4>
                        <input class="col-xs-8" type="text" placeholder="Search Name" ng-model="search.name">
                        <button class="button btn-xs btn-success" ng-click="orderByField='name';reverse=!reverse">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                </th>
                <th>
                    <h4 class="text-center">COLLEGE</h4>
                        <input class="col-xs-8" type="text" placeholder="Search College" ng-model="search.college">
                        <button class="button btn-xs btn-success" ng-click="orderByField='college';reverse=!reverse">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                </th>
                <th>
                    <h4 class="text-center">DEPARTMENT</h4>
                        <input class="col-xs-8" type="text" placeholder="Search Department" ng-model="search.department">
                        <button class="button btn-xs btn-success" ng-click="orderByField='department';reverse=!reverse">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                </th>
                <th>
                    <h4 class="text-center">JOINING DATE</h4>
                        <input class="col-xs-8" type="text" placeholder="Search Joining-date" ng-model="search.joining_date">
                        <button class="button btn-xs btn-success" ng-click="orderByField='joining_date';reverse=!reverse">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </button>
                </th>
                <th>
                    <h4 class="text-center">CGPA</h4>
                        <input class="col-xs-8" placeholder="Search cgpa" ng-model="search.cgpa">
                        <button class="button btn-xs btn-success" ng-click="orderByField='cgpa';reverse=!reverse">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </button>
                </th>
                </thead>
                <tbody>
                    <tr ng-repeat="intern in interns | filter:search| orderBy:orderByField:reverse">
                        <td><span ng-bind="intern.Id"></span></td>
                        <td><span ng-bind="intern.name"></span></td>
                        <td><span ng-bind="intern.college"></span></td>
                        <td><span ng-bind="intern.department"></span></td>
                        <td><span ng-bind="intern.joining_date"></span></td>
                        <td><span ng-bind="intern.cgpa"></span></td>
                    </tr>
                </tbody>
            </table>
            <p><a href="#/salary">View salary</a></p>
